<% include ./partials/header %>


<% blogs.forEach(function(blog){ %>
<div>
	
	<h2><%= blog.title %></h2>
	<img src="<%= blog.image %>">
	<h3><%= blog.body %></h3>
	<h3><%= blog.created %></h3>
	<a href="/blogs/<%= blog._id%>">Read More</a>
</div>
	
<%})%>
<% include ./partials/footer %>
